#table{
border: solid 2px 2px 2px 2px rgb(2, 2, 2);
border:solid 1px
}
th{
border-top: 3px solid rgb(2, 2, 2);
border-right:3px solid rgb(3, 3, 3) ;
border-left: 3px solid rgb(2, 2, 2);
border-bottom: 3px solid rgb(2, 2, 2);
}
td{
border-top: 3px solid rgb(2, 2, 2);
border-right:3px solid rgb(3, 3, 3) ;
border-left: 3px solid rgb(2, 2, 2);
border-bottom: 3px solid rgb(2, 2, 2);

}